<div class="ui segment">
  <h3><%= current_user.email.upcase %>'s Inbox</h3>

  <div class="ui list">
    <div class="item">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>

          <%= link_to recipient.email, conversation_messages_path(conversation)%>
          <%= Profile.find_by(user_id: conversation.recipient_id).first_name %>
          <%= Profile.find_by(user_id: conversation.recipient_id).first_name %>


        <% end %>
      <% end %>
    </div>
  </div>
</div>

