@import "bootstrap";

.container-background {
    background-size: 100%;
    width: 100.9%;
    min-height: 800px;
    
}
.bike {
    background-image: url(bike.jpg);
}
.burger {
    background-image: url(burger.jpg);
    background-size: 100%;
    width: 100%;
    margin: 0;
    padding-top: 10%;
}

.login-container {
    width: 25%;
    height: 400px;
    margin: 7% 37%;
    text-align: center;
}

.cuisine-container {
    width: 45%;
    height: 400px;
    margin: 0 25%;

}

